@font-face {font-family:Patagonia;src:local("Patagonia"), url(),format("truetype");src: url();}
@font-face {font-family: Maven;src: local("Maven Pro"), url(http://karenstolzenberg.com/fonts/maven-pro.ttf) format("truetype"); /*non-IE*/}

body{
	font-family:Maven;
	font-size: 1em;
	width:100%;
	color: #3903fd;
}

header{font-family:Patagonia; font-size: 2.5em;}
ul {margin-left:0;list-style-type: none;-webkit-padding-start:0;}
ul li{float:left; margin-left:0;padding-right:1%;}
.content{clear:both;}


#navTabs .ui-tabs-nav .ui-state-default a{color:gray;}
#navTabs .ui-tabs-nav .ui-state-active a{color:#3903fd;}
#navTabs .ui-tabs-nav .ui-state-hover a{color:#3903fd;}

*:focus{outline: 0;}

.thumb{
	background-color:#ccc;
}

a:link{color:gray;text-decoration:none;}
a:visited{color:gray;}
a:active{color:#3903fd;}
a:hover{color:#3903fd;}


